body {
    padding-bottom: 30px;
    padding-top: 70px;
}
.theme-dropdown .dropdown-menu {
    display: block;
    margin-bottom: 20px;
    position: static;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}

#logo {
 background: url("../images/logo6.png") no-repeat;
  background-position: 0;
    margin-top: 0;
    height: 56px;
}
 .navbar {
  margin-bottom: 0;
 }
 .lead {
     color: #FFA500;
     font-weight: bold;
 }


.jumbotron {
    font-size: 15px;
}
#searchInput {
    margin-bottom: 5px;
    margin-right: 5px;
}

.jumbotron {
    padding-bottom: 0px;
    padding-top: 0px;
}

.vertical {
    border-right: 1px solid #E3E3E3;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.last {
    border: none;
}
